* {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

body {
  background-color: #e6e6e6;
  background-image: url(http://18.217.133.253/static/back.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#title {
  text-align: center;
  padding: 0.5em;
  font-weight: bold;
  background-color: #000000;
  color: #e6e6e6;
}

#LR {
  display: flex;
  list-style-type: none;
}

#L {}
#R {}

#todo-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}

#member-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.todo {
  border: solid;
  margin: 10px;
  min-width: 18em;
  list-style-type:none;
  background-color: #000000;
  opacity: 65%;
}

.name {
  text-align: center;
  color: #ffffff;
}

.task-list {
}

.task {
  margin-left: 2em;
  color: #ffffff;
}

